<html>
<head>
    <meta charset="UTF8"/>
    <title>US Mass Shootings Home</title>
    <style>
        body {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
        }
        </style>
</head>
<body>
  <h1>US Mass Shootings Over the Past 3 Years (2018-2021) </h1>
  Generally mass shootings are understood as incidents that shooters kill a large number of people using firearms. <br>
  However, there is no standard definition of what constitutes mass shootings. <br>
  In this site, I use the criteria that "a shooter kills at least four people" defined by Gun Violence Archive. <br>
  By this definition, unfortunately, mass shootings in the the US account for nearly one-third of the world’s mass shootings according to a study published in 2017. <br>

    <h2>Choose type of data</h2>
    <p><a href='/heatmap'>1 the number of incidents across states (by year)</a></p>
    <p><a href='/line'>2 the number of victims over the last 3 years (by state) </a></p>
    <p><a href='/bar'>3 the number of victims by cities (by state) </a></p>
    <p><a href='/table'>4 the list of incidents with description (by year)</a></p>
  <br>
  Data Source: Wikipedia

  </body>
</html>